@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito"), local("Nunito"),
    url("./fonts/Nunito-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
